body{
    background-color: rgb(144, 177, 187);
}
.container {
    width:500px ;
    height:450px ;
    background-color: rgb(26, 8, 49);
    border-radius: 20px;
    text-align: center;
    padding-top: 30px;
    margin-left: 400px ;
    margin-top: 70px;
}
.container img{
    width: 300px;
    height: 250px;
    border-radius: 60px;

}
 .submit-btn{
width: 100px;
height: 30px;
background-color: rgb(54, 30, 160);
border-radius: 10px;
color: aliceblue;
border-color: rgb(25, 99, 160);
font-size: 20px;
}